# Rider
.idea/
*.sln.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2019 cache/options directory
.vs/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NUnit
*.nunit
nunit-agent*.log
nunit-server*.log

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
[Uu]nicode [Dd]ebug/
[Uu]nicode [Rr]elease/

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# Windows Files
[Tt]humbs.db
ehthumbs.db

# Dotnet Core
project.lock.json
project.fragment.lock.json
artifacts/

# Other
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# Secrets
appsettings.Development.json
secrets.json 